html(class='no-js' lang='en')
  head
    meta(charset='utf-8')
    meta(name='description' content='Electron Index Page')
    meta(http-equiv='Content-Security-Policy' content="script-src 'self' 'unsafe-inline;'")
  body
    main#frontend-app
    script(src='/electron.bundle.10bbd199cfd34f797a4b.js')
